
.herocontainer{
position: relative;
height: 900px;
}
.background{
	position: absolute;
	width: 100%;
	z-index: -5;
}
.background img {
	width: 100%;
	height:1000px;
}
.heroBanner{
	position: absolute;

}
.heading{
	margin-top: 206px;
}

.heading h5 {
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	color: #fff;
	font-size: 16px;

}
.subheadingtitle h1{
	font-family: "Covered By Your Grace", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 120px;
	color: #fff;

}
.subheading h5{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	color: #fff;
	font-size: 16px;
}
.call-to-action{
	display: flex;
	margin-top: 46px;

}
.call-to-action .button{
	margin-right: 31px;
}
.call-to-action .button button{
	background: #4BAF47;
	width: 200px;
	height: 60px;
	border-radius: 10px;
}
.btntxt{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	color: #fff;
	font-size: 14px;
}

.herocards{
position: relative;
display: block;
}
.cards{
	position: relative;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.card{
	width: 370px;
	height: 264px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2); /* Gölge efekti */
	display: flex;
	align-items: center;
	flex-direction: column;

}
.cardheading{
	margin-top: 52px;
	margin-bottom: 10px;
}
.cardheading span{
	font-family: "Covered By Your Grace", serif;
	font-weight: 400;
	font-style: normal;
	font-size: 24px;

}
.cardsubheading{
	text-align: center;
}
.cardsubheading h5{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 24px;
	color: #1F1E17;
	
}
.introducstionsection{
	display: flex;
	padding-top: 120px;


}
.introducstion_content{
display: flex;
flex-direction: column;
}
.content-area{
	display: flex;
}
.content-area .item{
	display: flex;
	gap: 10px;
}
.introducsion_list{
	margin-top: 50px;
}
.introducsion_list ul li{
	display: flex;
	gap: 16px;

}
.introducsion_list h5{
	font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #1F1E17;


}
.content-title h5{
	font-family: "Covered By Your Grace", serif;
	font-weight: 400;
	font-style: normal;
	font-size:24px ;
	color: #EEC044;
}
.content-header h1{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 48px ;
	line-height: 50px;


}
.content-info h5{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 26px ;
	color: #4BAF47;
	margin-top: 10px;
	margin-bottom: 10px;

}
.content-desc{
	width: 480px;

}
.content-desc p{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	color: #878680;
	

}
.content-area{
	padding-top: 20px;
	padding-bottom: 20px;
}
.content_subtitle p{
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
	font-size: 20px;
}

.introbutton{

	margin-top: auto;
	margin-bottom:10px ;
}
.introbutton button{
	width: 200px;
	height: 60px;
	background-color: #4BAF47;
	border-radius: 10px;
	color: #fff;
	font-size: 14px;
	font-family: "Manrope", serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	

}