@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Manrope:wght@200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.flex-center {
	  @apply flex justify-center items-center;
	}
	
  }

  @layer utilities {
	@media (max-width: 430px) {
	  .dynamic-size{
		font-size:12px;
		line-height: 20px;
	  }
	}
	@media (max-width: 640px) {
		.dynamic-size{
		  font-size:14px;
		  line-height: 20px;
		}
	  }
  }
  